@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #2c5364, #203a43);
  font-family: 'Poppins', sans-serif;
}

.App{
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #fff;
  padding: 3rem 5rem;
}

.card p{
  padding-top:1rem;
  line-height:150%;
}

.expand {
  width:35rem;
}